<div class="stats-container">
    <div class="stat-box">
        <span class="stat-value">{{.Stats.TotalActiveLinks}}</span>
        <span class="stat-label">Total Active Links</span>
    </div>
    <div class="stat-box">
        <span class="stat-value">{{.Stats.TotalLinksCreated}}</span>
        <span class="stat-label">All-Time Links Created</span>
    </div>
    <div class="stat-box">
        <span class="stat-value">{{.Stats.TotalClicks}}</span>
        <span class="stat-label">All-Time Clicks</span>
    </div>
</div>