<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="color-scheme" content="dark">
    <link rel="stylesheet" type="text/css" href="/shorter.css" integrity="{{.CssSRIHash}}">
    <title>Error {{.StatusCode}}</title>
</head>
<body>
    <div class="content">
        <div class="tos">
            <h1>Error {{.StatusCode}}</h1>
            <p>{{.Message}}</p>
            <br>
            <a href="/">Return to Home Page</a>
        </div>
    </div>
</body>
</html>
