<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="color-scheme" content="dark">
    <link rel="stylesheet" type="text/css" href="/shorter.css" integrity="{{.CssSRIHash}}">
    <title>File Link Created</title>
</head>
<body>
    <div class="content">
        <div class="header">
            <img src="/logo.png">
            <h1>File Link Created!</h1>
        </div>
        <div class="tos">
            <p>Your file has been uploaded and is available at the following link:</p>
            <p><a href="{{.ShortURL}}" rel="noopener noreferrer" target="_blank">{{.ShortURL}}</a></p>
            <p>This link will expire on: {{.Timeout}}</p>
            {{if .TimesAllowed}}
            <p>This file can be downloaded {{.RemainingUses}} time(s).</p>
            {{end}}
			{{if .KeyExtended}}
			<p class="info">Note: The requested key length was not available, so a longer key was generated to ensure uniqueness.</p>
			{{end}}
        </div>
    </div>
</body>
</html>