<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="color-scheme" content="dark">
    <link rel="stylesheet" type="text/css" href="/shorter.css" integrity="{{.CssSRIHash}}">
	<title>File Download</title>
</head>
<body>
    <div class="content">
        <div class="tos">
            <p class="info"><strong>Warning:</strong> Only download this file if you trust the person who shared this link with you.<br>Files from the internet can contain viruses.</p>

            <p>This short link will download the following file:</p>
            <div class="destination-box">
                <strong>{{.FileName}}</strong> ({{.FileSize}})
            </div>

            <a href="{{.DownloadURL}}" class="proceed-button">Download File</a>

            <hr class="divider">

            <p class="link-info">This link will expire on {{.Timeout}}.
            {{if gt .TimesAllowed 0}}<br>It can be downloaded {{.RemainingUses}} more time(s).{{end}}</p>
        </div>
        <div class="tos">To create your own temporary links, please visit <a href="{{.Domain}}">{{.Domain}}</a></div>
        {{if $.AbuseReporting.Enabled}}<div class="footer-link"><a href="/report?key={{.Key}}">Report Abuse</a></div>{{end}}
    </div>
</body>
</html>