<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="color-scheme" content="dark">
    <link rel="stylesheet" type="text/css" href="/shorter.css" integrity="{{.CssSRIHash}}">
	<title>Link Destination</title>
</head>
<body>
    <div class="content">
        <div class="tos">
            <p class="info"><strong>Warning:</strong> Please only proceed if you trust the person who shared this link with you.</p>

            <p>This short link will take you to the following destination:</p>
            <div class="destination-box">
                <a href="{{.DestinationURL}}" target="_blank" rel="noopener noreferrer">{{.DestinationURL}}</a>
            </div>

            <a href="{{.DestinationURL}}" target="_blank" rel="noopener noreferrer" class="proceed-button">Proceed to Link</a>

            <hr class="divider">

            <p class="link-info">This link will expire on {{.Timeout}}.
            {{if gt .TimesAllowed 0}}<br>It can be used {{.RemainingUses}} time(s).{{end}}</p>
        </div>
        <div class="tos">To create your own temporary links, please visit <a href="{{.Domain}}">{{.Domain}}</a></div>
    </div>
</body>
</html>